<footer>
  {% if lang == "en" %}
  <a href="https://patreon.com/fetsorn">Support this work on Patreon</a>
  {% else %}
  <a href="https://boosty.to/fetsorn">Поддержать проект на Boosty</a>
  {% endif %}
</footer>
