<footer>
  {% if lang == "en" %}
  <a href="https://patreon.com/fetsorn">Support this work on Patreon</a>
  {% else %}
  <a href="https://boosty.to/fetsorn">Поддержать проект на Boosty</a>
  <p>Давыдов Антон Юрьевич 344709358661</p>
  {% endif %}
</footer>
