---
permalink: "index.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url={{ site.defaultRoom }}.html">
  <title>{{ site.title }}</title>
</head>
<body>
  <p>Entering <a href="{{ site.defaultRoom }}.html">the garden</a>...</p>
</body>
</html>
